@import "tailwindcss";

@source "../**/*.{css,js,ts,jsx,tsx,mdx}";

@theme {
  --breakpoint-xs: 550px;
  --breakpoint-de: 900px;
  --breakpoint-me: 1100px;
  --breakpoint-mx: 2000px;

  --color-primary-purple: #8c52fe;
  --color-primary-lightpurple: #9f7aea;
  --color-dark: #222222;

  --height-nav-bar: 80px;

  --animate-fade-in: fadeIn 0.3s ease-in 0.2s forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer components {
  body {
    @apply relative min-w-[375px] bg-white;
  }

  main {
    @apply relative w-full;
  }

  button {
    @apply cursor-pointer disabled:cursor-auto;
  }

  figure {
    @apply select-none pointer-events-none;
  }

  .font-lato {
    font-family: "Lato", sans-serif;
  }

  h1 {
    /* Page heading */
    @apply text-[40px] md:text-[64px] leading-tight;
  }

  h2 {
    /* Section heading */
    @apply text-[30px] leading-tight;
  }

  h3 {
    @apply text-[24px] leading-tight;
  }

  h4 {
    @apply text-[20px] leading-tight;
  }

  h5 {
    @apply text-[16px] leading-tight;
  }

  h6 {
    @apply text-[15px] leading-tight;
  }
}
