@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap")
layer(base);

@import "tailwindcss";

@source "../**/*.{css,js,ts,jsx,tsx,mdx}";

@theme {
  --breakpoint-xs: 550px;
  --breakpoint-de: 900px;
  --breakpoint-me: 1100px;
  --breakpoint-mx: 2000px;

  --color-primary-blue: #2e344a;

  --animate-fade-in: fadeIn 0.3s ease-in 0.2s forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer components {
  body {
    @apply relative min-w-[375px];
  }

  button {
    @apply cursor-pointer disabled:cursor-auto;
  }

  figure {
    @apply select-none pointer-events-none;
  }

  .font-open-sans {
    font-family: "Open Sans", sans-serif;
  }

  h1 {
    /* Page heading */
    @apply text-[36px] leading-tight;
  }

  h2 {
    /* Section heading */
    @apply text-[30px] font-medium leading-tight;
  }

  h3 {
    @apply text-[24px] leading-tight;
  }

  h4 {
    @apply text-[20px] font-semibold leading-tight;
  }

  h5 {
    @apply text-[16px] leading-tight;
  }

  h6 {
    @apply text-[15px] leading-tight;
  }
}
